{% assign url = '/assets/static/' | append: include.file %}

<!---<a href="{{ url | prepend: site.baseurl | prepend: site.url }}" target="_blank" class="image">
	<img src="{{ url | prepend: site.baseurl | prepend: site.url }}" alt="{% if include.alt %}{{ include.alt }}{% else %}Image{% endif %}">
</a> -->

<a href="{{ url | prepend: site.baseurl | prepend: site.url }}" target="_blank" class="image">
	<img src="https://ibb.co/g2KJ7f" alt="{% if include.alt %}{{ include.alt }}{% else %}Image{% endif %}">
</a> 
