---
layout: compress
published: true
---

<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
		
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
  		(adsbygoogle = window.adsbygoogle || []).push({
    		google_ad_client: "ca-pub-1234700091441438",
    		enable_page_level_ads: true
  		});
		</script>
	</head>

	<body>

		{% include header.html %}

		<div id="content">
			{{ content }}
		</div>

		{% include footer.html %}

	</body>

</html>
