---
layout: compress
published: true
---

<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
		
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
  		(adsbygoogle = window.adsbygoogle || []).push({
    		google_ad_client: "ca-pub-1234700091441438",
    		enable_page_level_ads: true
  		});
		</script>
	</head>

	<body>
		{% include header.html %}
		
						<!-- TradingView Widget BEGIN -->
		<div class="tradingview-widget-container">
		  <div class="tradingview-widget-container__widget"></div>
		  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Quotes</span></a> by TradingView</div>
		  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
		  {
		  "symbols": [
		    {
		      "proName": "FOREXCOM:SPXUSD",
		      "title": "S&P 500"
		    },
		    {
		      "proName": "FOREXCOM:NSXUSD",
		      "title": "Nasdaq 100"
		    },
		    {
		      "description": "",
		      "proName": "AMEX:SPY"
		    },
		    {
		      "description": "",
		      "proName": "NASDAQ:AAPL"
		    },
		    {
		      "description": "",
		      "proName": "NASDAQ:MSFT"
		    }
		  ],
		  "colorTheme": "dark",
		  "isTransparent": false,
		  "showSymbolLogo": true,
		  "locale": "en"
		}
		  </script>
		</div>
		<!-- TradingView Widget END -->

		

		<div id="content">
			{{ content }}
		</div>

		{% include footer.html %}

	</body>

</html>
